/JDBCBYCHETAN/dist/
/myFristweb/nbproject/private/
/myFristweb/build/
/Covidinfo/nbproject/private/
/Covidinfo/build/
/CovidInfoPortal/nbproject/private/
/CovidInfoPortal/build/
/CollageInfo/nbproject/private/
/CollageInfo/build/
/SessionExample/nbproject/private/
/SessionExample/build/
/WebxmlExample/nbproject/private/
/WebxmlExample/build/
/WebListener/nbproject/private/
/WebListener/build/
/Weblistener/nbproject/private/
/Weblistener/build/
/CustomtagExample/nbproject/private/
/CustomtagExample/build/
/BeansExample/nbproject/private/
/BeansExample/build/
/MVCExample/nbproject/private/
/MVCExample/build/
/validationExample/nbproject/private/
/validationExample/build/