<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>app-name</param-name>
        <param-value>Covid-Info</param-value>
    </context-param>
    <servlet>
        <servlet-name>xyz</servlet-name>
        <servlet-class>Covidinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInfo</servlet-name>
        <servlet-class>AdminInfo</servlet-class>
        <init-param>
            <param-name>add-name</param-name>
            <param-value>mr john</param-value>
        </init-param>
        <init-param>
            <param-name>add-mobile</param-name>
            <param-value>8089674523</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>xyz</servlet-name>
        <url-pattern>/Covid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>
            <servlet>
                <servlet-name>xyz</servlet-name>
                <servlet-class>Covidinfo</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>xyz</servlet-name>
                <url-pattern>/Covid</url-pattern>
            </servlet-mapping>
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminInfo</servlet-name>
        <url-pattern>/AdminInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
