<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>mypkg.Databaseconnectionhandle</listener-class>
    </listener>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verifyuser</servlet-name>
        <servlet-class>Verifyuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateAccountCreationservlet</servlet-name>
        <servlet-class>StateAccountCreationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStateAdminProfile</servlet-name>
        <servlet-class>UpdateStateAdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInfo</servlet-name>
        <servlet-class>SaveInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession</servlet-name>
        <servlet-class>EndSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateDataServlet</servlet-name>
        <servlet-class>StateDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllStateDataServlet</servlet-name>
        <servlet-class>AllStateDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verifyuser</servlet-name>
        <url-pattern>/Verifyuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateAccountCreationservlet</servlet-name>
        <url-pattern>/StateAccountCreationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStateAdminProfile</servlet-name>
        <url-pattern>/UpdateStateAdminProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInfo</servlet-name>
        <url-pattern>/SaveInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSession</servlet-name>
        <url-pattern>/EndSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateDataServlet</servlet-name>
        <url-pattern>/StateDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllStateDataServlet</servlet-name>
        <url-pattern>/AllStateDataServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
